* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #6C63FF;
  --title-color: #13131A;
  --subtitle-color: #41414D;
  --text-color: #737380;
  --secondary-text-color: #A8A8B3;
  --inputs-color: #FFFFFF;
  --inputs-border: #DCDCE5;
  --background: #F0F0F5;
}