.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: calc(100% - 20rem);
    height: 5rem;

    margin: 14px auto;

    nav {
        a {
            color: var(--subtitle-color);
            text-decoration: none;
            font-size: 1.25rem;
            line-height: 1.75rem;
            transition: .2s;
            cursor: pointer;
        }

        a + a {
            margin-left: 2.25rem;
        }

        a:hover {
            color: var(--primary-color);
        }
    }
}